# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\1_CODING\LearnSpringBoot\DemoProjectSpringBoot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
